* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

header {
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu-computadora {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-movil {
  display: none;
}

.navbar {
  background-color: black;
  padding: 10px 20px;
}
.navbar img {
  height: 45px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
}
.nav-item {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-item:hover {
  color: rgb(17, 187, 17);
}

.banner-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  background: linear-gradient(to bottom, #056102, #1de227);
  height: 250px;
  color: white;
}

.btn-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: rgb(255, 255, 255) solid 2px;
  color: rgb(255, 255, 255);
  height: 50px;
  width: 150px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

.btn-banner:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.premium-razones-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.razones-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}

.razon-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  height: 150px;
}

.razon-box h3 {
  text-align: center;
}

.razon-box img {
  height: 125px;
  width: 125px;
  object-fit: contain;
}

.planes {
  padding-top: 20px;
  color: white;
  background: linear-gradient(to bottom, #01266b, #c40eba);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}

.plan-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 14px 0px rgba(197, 196, 196, 0.75);
  height: 500px;
  color: black;
  padding: 10px;
}

.plan-box img {
  height: 30px;
}

.plan-box span {
  background-color: #ffffff;
  color: #1d75de;
  border: #1d75de solid 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 4px;
}

.plan-box h4 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1d75de;
  padding: 4px;
  color: white;
  border: #1d75de solid 3px;
}

.razon-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: none;
  background-color: black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 50px;
  width: 250px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.button-style:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  cursor: pointer;
}

.menu a {
  color: white;
}

.inicio-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.body-sesion {
  background: linear-gradient(to bottom, #171717, #000000);
}

.contenido {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 20px;
  background-color: #000000;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 600px;
  width: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.metodos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.metodos-container img {
  height: 40px;
}

.redes-sesion-container {
  border: white solid 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  height: 50px;
  width: 400px;
  justify-content: space-evenly;
  background-color: transparent;
  color: white;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.input-field {
  height: 50px;
  width: 400px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: transparent;
  border: 1px white solid;
  text-align: center;
  color: white;
}

input::placeholder {
  color: white;
}

.sesion-button {
  height: 50px;
  width: 400px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: #1ed760;
  border: none;
  margin: 0;
}

.sesion-button.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.sesion-button:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.redes-sesion-container:hover {
  border: whitesmoke solid 2px;
}

.sesion-a {
  color: black;
  text-decoration: none;
}

.plan-a {
  color: white;
  text-decoration: none;
}

.register-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 50px;
  background-color: black;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 750px;
  width: 450px;
}

/*estilos del footer*/
.foot {
  background-color: #171717;
  justify-content: center;
  display: flex;
  color: rgb(221, 221, 221);
  gap: 100px;
  padding: 100px;
}

.foot-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foot img {
  height: 50px;
}

/*Media queries de la pagina de inicio*/
@media (max-width: 768px) {
  .nav-computadora {
    display: none;
  }

  .nav-movil {
    display: flex;
    justify-content: end;
  }

  .menu-movil {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: black;
    transition: left 0.3s;
    z-index: 2;
  }

  #toggle-menu {
    display: none;
  }

  .abrir-menu {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    padding: 5px;
    z-index: 2;
    transition: left 0.3s;
    border-radius: 50%;
  }

  .abrir-menu::after {
    content: attr(data-open);
  }

  #toggle-menu:checked + .abrir-menu::after {
    content: attr(data-close);
  }

  .lista-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .lista-menu li {
    padding: 10px 0;
  }

  .lista-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }

  .lista-menu a:hover {
    background-color: #5366f5;
  }

  #toggle-menu:checked ~ .menu-movil {
    left: 0;
  }

  #toggle-menu:checked ~ .abrir-menu {
    left: 250px;
  }

  #toggle-menu:checked ~ .contenido {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .contenido {
    transition: background-color 0.3s;
  }

  .propaganda-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .propaganda-parrafo {
    font-size: 13px;
  }

  .premium-razones-container {
    text-align: center;
  }
  .razones-img {
    flex-direction: column;
  }
}

@media (width <= 425px) {
  .nav-movil img {
    height: 38px;
  }
}

@media (max-width: 294px) {
  #toggle-menu:checked ~ .abrir-menu {
    left: auto;
  }
  .menu-movil {
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    transition: left 0.3s;
    z-index: 2;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .foot,
  .planes-container,
  .razones-box {
    flex-direction: column;
  }

  .banner-inicio {
    text-align: center;
    font-size: 10px;
  }

  .foot {
    gap: 50px;
  }

  .foot img {
    width: 160px;
    object-fit: contain;
  }

  .redes-sesion-container,
  .input-field,
  .sesion-button {
    width: 280px;
  }

  .auth-container {
    width: 100%;
  }
}
